{{!< default}}

{{#post}}
  <article class="post type-text" id="{{id}}">
    <div class="caption clearfix rte">

      {{content}}

          <p>For a more condensed version of this page, please refer to my <a href="../assets/JSouza-Resume.pdf" target="_blank">resumé.</a></p>

      <h2>Web Development & Design</h2>
      <div class="port-item">
      	<h4><a href="http://headfullofnothing.com/skillgenie/" target="_blank">Skillgenie</a></h4>

      	<p>

	      	Skillgenie is a platform that facilitates independent education via "learning analytics" - completely apart from the specifics of the information. At its core, the app creates a habitual feedback loop for learning in one system, by one person. Skillgenie is designed to record one’s applications of their self-learning (currently skewed towards actionable skills like golf or chess) and create friendly visualizations, give helpful tips and link to a community, all while seeking to further the user's ability to gather, retain and use information. Below is a sample of a small marketing page I designed and implemented, you can find it <a href="http://skillgenie.net" target="_blank">here</a>. As for the app itself, which is not entirely represented in this short description, I deeply encourage you to read the parent post. Here is a link to the latest <a href="https://damp-depths-5898.herokuapp.com/">build</a>. This is my proudest work to date, I hope you enjoy reading about it.

      	</p>

      	<img src="../content/images/Portfolio/skillgenie-1.png">

      </div>

      <div class="port-item">
      	<h4><a href="http://headfullofnothing.com/xsolla/" target="_blank">Xsolla</a></h4>

      	<p>

	      	At its core, Xsolla is a relatively small company that "offers a wide selection of ready-made solutions to help game developers monetize their games and increase conversion". During my employment as an intern here, primarily working in HTML, CSS & Javascript, I received comprehensive instruction on many facets of secure & agile development. In addition, I was able to take part in the implementation of resources used by Valve's Steam, Twitch, Ubisoft and EA, among others. Check out the full post if you would like to know more information about my period working at Xsolla.

      	</p>

      	<img src="../content/images/Portfolio/xsolla-1.png">

      </div>

      <div class="port-item">
      	<h4><a href="http://hairbydesiree.com/" target="_blank">Hair by Desiree</a></h4>

      	<p>

	      	I worked closely with Desiree Eichelbaugh, a hair stylist at Salon 3 in Beverly Hills, to develop an attractive but minimal portfolio. Desiree was in need of a site to direct prospective clients, in order for them to see her various hair projects. I was able to provide her with a logo, as well as complete implementation and design of the site. Desiree's portfolio heavily utilizes jQuery & a modified Instafeed.js content aggregator, so that she can maintain her photo library through Instagram photos & tags.

      	</p>

      	<img src="../content/images/Portfolio/hbd-1.png">
      </div>

      <div class="port-item">
      	<h4><a href="http://headfullofnothing.com/l-a-girlfriend/" target="_blank">L.A. Girlfriend</a></h4>

      	<p>

As the brainchild of musician and designer, Sydney Banta, her project L.A. Girlfriend needed a website that conformed to her dark & glittery aesthetic. I was able to implement the site that Sydney designed within a single view with a series of side-scrolling pages. Included in the site was a presentation of images and music, contact information and an about page.
      	</p>

      	<img src="../content/images/Portfolio/lagf-1.png">


      	<p>
          In addition to working with Sydney on the design and implementation of the site, I took a large role in expanding her solo music project. As a musically contributing member, I helped to record the VIVA record and compose various EPs & remixes. We also began to expand the project further, bringing on a bass player momentarily and a steady drummer. As LAGF grew, I began to shape the live set around the mainly computer based music. At the height of the project, we were able to skillfully integrate both computers & traditional instruments, which Sydney still continues to do today. Please check out the full post if you would like to know more information about the project.

      	</p>

      	<img src="../content/images/Portfolio/lagf-2.png">

      </div>

      <div class="port-item">
      	<h4>Assignr</h4>

      	<p>

          Assignr was a web application partially developed during 72 hours at the 2014 UCLA "LA Hacks" Competition. The app was intended for professors & "beginner" CS students needing a platform in which they could complete and manage code-based assignments. I was involved in a four person team, including Willy Husted, Zane Kansil & Ed Bramanti. My role was in the front-end, where I designed and implemented a usable surface layer for the app. The bulk of my 72 hours was spent implementing the editor (from Ace.js), REPL, & QUnit testing suite.
      	</p>

      	<img src="../content/images/Portfolio/assign-1.png">
      </div>

      <div class="port-item">
      	<h4>Previous Portfolio - Q1 2013 </h4>

      	<p>

          I chose to put my previous portfolio up here A) because I think it was a neat concept, done before I had any knowledge of Bootstrap or other frameworks and B) so we can get sense of my skill progression. In a somewhat abstract design choice, I chose to represent each project as an icon, which when clicked, would bring the user to a Wordpress article (as this was a Wordpress theme) with prose and pictures. The pink menu would slide up on click, and would present categories which would grey out non applicable choices. A video would also play through the semi-transparent icon squares. Yea, I cringe at this one too.

      	</p>

      	<img src="../content/images/Portfolio/port-1.png">
      </div>

      <div class="port-item">
      	 <h4>Logo Design</h4>

      	<p>

           Through the last few years, I have done logo design for a number of friends and acquaintances. None of these were paid, per se, but I do value the work that I did on them. Particularly, my logo for the Portkey travel app was well received. Portkey was partially developed and presented as a part of a business course at LMU. The app was able to reach the final round of mock investing, with the opportunity to present to angel investors and various other heavy-hitters in the LA area. I'd like to think this was due in no small part to my app icon, but we'll never know for sure.
      	</p>

      	<img src="../content/images/Portfolio/logo-1.png">
      </div>


      <br><br><h2>Current Writing & Research</h2>

        <div class="port-item">
      	<h4><a href="https://github.com/jacksonsouza/399-mlc" target="_blank">Metacognition in Cognitive Science</a></h4>
      	<p>

           This is the research facet of Skillgenie. When I began this project, I sought to pinpoint the closest established discipline to my initial thoughts, which happened to be cognitive psychology, specifically metacognition. Adapting metacognitive measurement to be interactive and usable is important on its own, but aggregating the most important features of metacognition in the fields that it is discussed in (philosophy, computer science, developmental psychology), is definitive of the entire project. I seek to deepen and further integrate the research into the app through a study of machine learning in my final semester at LMU. This is the topic for my senior CS project.

      	</p>
      </div>
      <div class="port-item">
      	<h4><a href="../assets/Light.pdf" target="_blank">Medieval Light Metaphysics</a></h4>

      	<p>

           Light is frequently mentioned in the philosophy and theology of the middle ages as a conduit through which we perceive the divine. Of course, this comes before the scientific breakthroughs of the early modern period, but I believe it is a worthwhile study particularly because it is the origin of such great knowledge. More than this, light metaphysics is interesting because it characterizes a crucially significant relationship with divinity that is seldom expressed in the 21st century. This is the topic for my BA thesis in philosophy.
      	</p>
      </div>

      <div class="port-item">
      	<h4><a href="../assets/Reductionism.pdf" target="_blank">Autonomy of Psychology</a></h4>

      	<p>

           My interest in this particular topic in the Philosophy of Science stems from problems encountered with Skillgenie's foundations in cognitive psychology. This is very much an ongoing philosophical pursuit concerning the adjoining web app, with my guiding questions being: A) Can we reduce metacongitive theories to more basic disciplines (physics, neurobiology)? We cannot measure if we cannot reduce. B) If we are warranted in attempting measurement, measurement has a foundation of verifiable meaning. How is metacognition measured? C) Cognitive measurement concerning one’s own cognition is not readily accessible to the layperson. Can we make it so? This final question leads us to Skillgenie, however, questions A & B are crucial in a discussion of "why this matters".
      	</p>
      </div>


      <br><br><h2>Misc.</h2>
      <div class="port-item">
      	<h4><a href="http://jacksonsouza.bandcamp.com/" target="_blank">Namaste</a></h4>

      	<p>

           Namaste is my solo music project where I first cut my teeth on electronic music & production. The influences for the project span from artists like Amon Tobin and Burial to Deadmau5. Previous to me playing live, instrument based music, I was able to get a full bodied sound from electronic music made entirely with MIDI controllers and Abelton Live 8. I still enjoy electronic music immensely, however there is a certain charm about playing traditional instruments with other humans that I prefer.

      	</p>

      	<iframe style="border: 0; width: 350px; height: 470px; margin-left: auto;
    margin-right: auto; text-align:center;" src="http://bandcamp.com/EmbeddedPlayer/album=1993646759/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://jacksonsouza.bandcamp.com/album/foreign">Foreign by Namaste</a></iframe>

      </div>

        <div class="port-item">


        <div class="port-item">
      	<h4>Woodworking</h4>

      	<p>

           Woodworking skills spawned as a necessity this last year, where I sought the intersection between nice looking and affordable. I wasn't satisfied with PetSmart's selection of cat scratchers, so I made my own. Mainly as an effort to scratch my own itch, the same idea follows through all of these projects.
      	</p>

      	<img src="../content/images/Portfolio/wood-1.png">
      </div>

    </div>

  </article>
{{/post}}
