<div class="mdl-layout__drawer">
<div class="bg-overlay">
    <div class="fancy-header mdl-layout-title">
      <a href="/">
        <img alt="{{@blog.title}}" src="{{@blog.logo}}" /> 
        <div class="header-text">{{@blog.description}}</div> 
      </a>
    </div>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/about">About</a>
      <a class="mdl-navigation__link" href="/">Essays</a>
      <a class="mdl-navigation__link" href="/tag/dev">Development</a>
      <a class="mdl-navigation__link" href="/work">Portfolio</a>
    </nav>
  </div>
</div>