{{!< default}}

{{#post}}
<div class="portfolio_page">

    <header class="main-header post-head" style="background-image: url({{feature_image}})">
    </header>

    <main class="content" role="main">

        <article class="mdl-card head-card mdl-shadow--2dp">
          <div class="mdl-card__title small-title">
            <h2 class="mdl-card__title-text">
              PORTFOLIO
            </h2>
          </div>

          <div class="mdl-card__supporting-text">
            <p>For a condensed version of this page and contact information, please refer to my <a target="_blank" href="../content/images/theme/page-work/JSouza-Resume.pdf">resume</a> or <a target="_blank" href="https://www.linkedin.com/in/jacksonjosephsouza/">LinkedIn</a> profile</p>
            <p>For code samples and more back-end oriented work, please visit <a target="_blank" href="https://github.com/jacksonsouza" > github.com/jacksonsouza</a></p>
          </div>
        </article>

          <div class="mdl-cell--12-col card-row">

            <div class="port-item mdl-cell mdl-cell--6-col">
              <article class="mdl-card mdl-shadow--2dp demo-card-wide">
                <div class="mdl-card__title" style="background:url(../content/images/theme/page-work/avvo-1.jpeg)">

                  <div class="bg-overlay">
                  </div>

                  <h2 class="mdl-card__title-text">
                    <a target="_blank" href="http://avvo.com/">AVVO</a>
                  </h2>

                </div>
                <div class="mdl-card__supporting-text">

                 <p class="desc">A Seattle, WA company offering a "Yelp for Lawyers" product and knowledgebase for legal advice.
                  </p>

                  <h5>DATE</h5>
                  <p>Q1 2019 - Present</p>

                  <h5>CONTRIBUTIONS</h5>
                  <li>Aiding in several initiatives that increase Avvo’s overall page performance - development of a Google AMP service for increased search visibility, addressing performance tech-debt while moving existing templates to React.js and integrating continuous Google Lighthouse benchmarking to prevent new issues from being introduced.</li>

                </div>
              </article>
            </div>



            <div class="port-item mdl-cell mdl-cell--6-col">
              <article class="mdl-card mdl-shadow--2dp demo-card-wide">
                  <div class="mdl-card__title" style="background:url(../content/images/theme/page-work/hbd-1.png)">
                    <div class="bg-overlay">
                    </div>

                    <h2 class="mdl-card__title-text">
                      <a target="_blank" href="http://desireemayehair.com/">HAIR BY DESIREE</a>
                    </h2>

                  </div>
              
                <div class="mdl-card__supporting-text">

                  <p class="desc"> A clean mobile-first website designed to capture high-quality client "leads" from Instagram and Yelp.
                  </p>

                  <h5>LINKS</h5>
                  <a target="_blank" href="http://desireemayehair.com/">http://desireemayehair.com/</a><br>

                  <h5>DATE</h5>
                  <p>Q2 2019</p>

                  <h5>CONTRIBUTIONS</h5>
                  <li>Design and development in HTML, CSS and JS</li>
                  <li>Check out an older version of the site <a target="_blank" href="http://jsouza.co/content/images/sites/hbd/">here</a><br></li>

                </div>
              </article>
            </div>


  
        </div>



        <div class="mdl-cell--12-col card-row">

            <div class="port-item mdl-cell mdl-cell--6-col">
              <article class="mdl-card mdl-shadow--2dp demo-card-wide">
                <div class="mdl-card__title" style="background:url(../content/images/theme/page-work/sportsrocket-1.jpg)">

                  <div class="bg-overlay">
                  </div>

                  <h2 class="mdl-card__title-text">
                    <a target="_blank" href="http://sportsrocket.com/">SPORTSROCKET</a>
                  </h2>

                </div>
                <div class="mdl-card__supporting-text">

                 <p class="desc">A Bellevue, WA startup that offered a content management platform for video and live streaming content.
                  </p>


                  <h5>DATE</h5>
                  <p>Q3 2016 - Q1 2019</p>

                  <h5>CONTRIBUTIONS</h5>
                  <li>Developed Ruby APIs for job queueing, application performance monitoring, 3rd-party platform integration and content distribution.</li>
									<li>Introduced serverless architecture with Node.js and AWS Lambda to process demanding throughput of DirecTV show and movie metadata.</li>
									<li>Facilitated the sunset of Sportsrocket’s product offerings during the end of Seattle-based operations.</li>


                  <a target="_blank" href="/sportsrocket" class="read-more" href="">Read More&raquo;</a>
                </div>
              </article>
            </div>
            
         <div class="port-item mdl-cell mdl-cell--6-col">
              <article class="mdl-card mdl-shadow--2dp demo-card-wide">
                  <div class="mdl-card__title" style="background:url(../content/images/theme/page-work/headless-1.png)">
                    <div class="bg-overlay">
                    </div>

                    <h2 class="mdl-card__title-text">
                      <a target="_blank" href="https://github.com/jacksonsouza/headless">HEADLESS</a>
                    </h2>

                  </div>
              
                <div class="mdl-card__supporting-text">

                  <p class="desc">A minimal "Material Design" theme for the Ghost.js blogging platform. You're using it!
                  </p>

                  <h5>LINKS</h5>
                  <a target="_blank" href="https://github.com/jacksonsouza/headless">https://github.com/jacksonsouza/headless</a><br>

                  <h5>DATE</h5>
                  <p>Q3 2015</p>

                  <h5>CONTRIBUTIONS</h5>
                  <li>Development & design with Handlebars, SASS & jQuery</li>

                  <a target="_blank" class="read-more" href=""></a>
                </div>
              </article>
            </div>
  
          </div>





          <div class="mdl-cell--12-col card-row">
            <div class="port-item mdl-cell mdl-cell--6-col">
              <article class="mdl-card mdl-shadow--2dp demo-card-wide">
                <div class="mdl-card__title" style="background:url(../content/images/theme/page-work/azuqua-1.jpg)">

                  <div class="bg-overlay">
                  </div>

                  <h2 class="mdl-card__title-text">
                    <a target="_blank" href="https://www.azuqua.com/">AZUQUA</a>
                  </h2>

                </div>
                <div class="mdl-card__supporting-text">

                 <p class="desc">A Seattle, WA startup offering a workflow automation engine and associated tooling used to build API integrations.
                  </p>

                  <h5>DATE</h5>
                  <p>Q2 2015 - Q3 2016</p>

                  <h5>CONTRIBUTIONS</h5>
                  <li>Maintained 10 of the most used API integrations for Azuqua’s workflow application - Salesforce, HubSpot, JIRA, Marketo, Youtube, Dailymotion and more.</li>
                  <li>Company acquired by Okta in Q1 2019</li>


                  <a target="_blank" class="read-more" href="/azuqua">Read More&raquo;</a>
                </div>
              </article>
            </div>

                      <div class="port-item mdl-cell mdl-cell--6-col">
              <article class="mdl-card mdl-shadow--2dp demo-card-wide">
                <div class="mdl-card__title" style="background:url(../content/images/theme/page-work/xsolla-1.png)">

                  <div class="bg-overlay">
                  </div>

                  <h2 class="mdl-card__title-text">
                    <a target="_blank" href="/xsolla">XSOLLA</a>
                  </h2>

                </div>
                <div class="mdl-card__supporting-text">

                 <p class="desc">An multi-national company that "offers a wide selection of ready-made solutions to help game developers monetize their games and increase conversion".
                  </p>


                  <h5>DATE</h5>
                  <p>Q2 2014 - Q4 2014</p>

                  <h5>CONTRIBUTIONS</h5>
                  <li>Assisted in the development of the API documentation portal and targeted landing pages.</li>

                  <a target="_blank" class="read-more" href="/xsolla">Read More&raquo;</a>

                </div>
              </article>
          </div>

 
  

           
        </div>




      </div>
    </main>
{{/post}}
