{{!< default}}

{{#post}}
<div class="portfolio_page">
      <div class="navigation_partial">
          <div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button ">
              {{> "navigation"}}
          </div>
      </div>

      <header class="main-header post-head" style="background-image: url({{image}})">
      </header>

    <main class="content" role="main">

        <article class="mdl-card head-card mdl-shadow--2dp">
          <div class="mdl-card__title small-title">
            <h2 class="mdl-card__title-text">
              PORTFOLIO
            </h2>
          </div>

          <div class="mdl-card__supporting-text">
            <p>For <a href="http://www.urbandictionary.com/define.php?term=tl%3Bdr">TL;DR</a> version of this page, please refer to my <a href="../assets/JSouza-Resume.pdf" target="_blank">résumé.</a></p>
          </div>
        </article>


        <div class="mdl-cell--12-col card-row">
            <div class="port-item mdl-cell mdl-cell--6-col">
              <article class="mdl-card mdl-shadow--2dp demo-card-wide">
                  <div class="mdl-card__title" style="background:url(../content/images/theme/page-work/skillgenie-1.png)">
                    <div class="bg-overlay">
                    </div>

                    <h2 class="mdl-card__title-text">
                      <a href="/skillgenie">SKILLGENIE</a>
                    </h2>

                  </div>
              
                <div class="mdl-card__supporting-text">

                  <p class="desc">A web app that facilitates independent education via "learning analytics" - completely apart from the specifics of the information.
                  </p>

                  <h5>LINKS</h5>
                  <a href="https://damp-depths-5898.herokuapp.com/">Alpha Build</a><br>
                  <a href="http://skillgenie.net/">http://skillgenie.net/</a>

                  <h5>DATE</h5>
                  <p>Q2 2014 - May 2015</p>

                  <h5>CONTRIBUTIONS</h5>
                  <li>Full-stack web development in Javascript</li>
                  <li>Supporting research in philosophy of psychology, metacognition & cognitive science</li>

                  <a class="read-more" href="/skillgenie">Read More&raquo;</a>
                </div>
              </article>
            </div>
  

            <div class="port-item mdl-cell mdl-cell--6-col">
              <article class="mdl-card mdl-shadow--2dp demo-card-wide">
                <div class="mdl-card__title" style="background:url(../content/images/theme/page-work/xsolla-1.png)">

                  <div class="bg-overlay">
                  </div>

                  <h2 class="mdl-card__title-text">
                    <a href="/xsolla">XSOLLA</a>
                  </h2>

                </div>
                <div class="mdl-card__supporting-text">

                 <p class="desc">A small company that "offers a wide selection of ready-made solutions to help game developers monetize their games and increase conversion".
                  </p>

                  <h5>LINKS</h5>
                  <a href="/">http://tacoapp.com</a><br>
                  <a href="/">http://tacoapp.com</a>


                  <h5>DATE</h5>
                  <p>December 2012 - Present</p>

                  <h5>CONTRIBUTIONS</h5>
                  <li>Co-Founder</li>
                  <li>Co-Founder</li>
                  <li>Co-Founder</li>

                  <a class="read-more" href="/xsolla">Read More&raquo;</a>

                </div>
              </article>
          </div>
        </div>


          <div class="mdl-cell--12-col card-row">
            <div class="port-item mdl-cell mdl-cell--6-col">
              <article class="mdl-card mdl-shadow--2dp demo-card-wide">
                  <div class="mdl-card__title" style="background:url(../content/images/theme/page-work/skillgenie-1.png)">
                    <div class="bg-overlay">
                    </div>

                    <h2 class="mdl-card__title-text">
                      <a href="/skillgenie">SKILLGENIE</a>
                    </h2>

                  </div>
              
                <div class="mdl-card__supporting-text">

                  <p class="desc">A web app that facilitates independent education via "learning analytics" - completely apart from the specifics of the information.
                  </p>

                  <h5>LINKS</h5>
                  <a href="https://damp-depths-5898.herokuapp.com/">Alpha Build</a><br>
                  <a href="http://skillgenie.net/">http://skillgenie.net/</a>

                  <h5>DATE</h5>
                  <p>Q2 2014 - May 2015</p>

                  <h5>CONTRIBUTIONS</h5>
                  <li>Full-stack web development in Javascript</li>
                  <li>Supporting research in philosophy of psychology, metacognition & cognitive science</li>

                  <a class="read-more" href="/skillgenie">Read More&raquo;</a>
                </div>
              </article>
            </div>
  

            <div class="port-item mdl-cell mdl-cell--6-col">
              <article class="mdl-card mdl-shadow--2dp demo-card-wide">
                <div class="mdl-card__title" style="background:url(../content/images/theme/page-work/xsolla-1.png)">

                  <div class="bg-overlay">
                  </div>

                  <h2 class="mdl-card__title-text">
                    <a href="/xsolla">XSOLLA</a>
                  </h2>

                </div>
                <div class="mdl-card__supporting-text">

                 <p class="desc">A small company that "offers a wide selection of ready-made solutions to help game developers monetize their games and increase conversion".
                  </p>

                  <h5>LINKS</h5>
                  <a href="/">http://tacoapp.com</a><br>
                  <a href="/">http://tacoapp.com</a>


                  <h5>DATE</h5>
                  <p>December 2012 - Present</p>

                  <h5>CONTRIBUTIONS</h5>
                  <li>Co-Founder</li>
                  <li>Co-Founder</li>
                  <li>Co-Founder</li>

                  <a class="read-more" href="/xsolla">Read More&raquo;</a>

                </div>
              </article>
          </div>
        </div>




      </div>
    </main>
{{/post}}
