{{!< default}}

{{#post}}
<div class="about_page">
    <div class="navigation_partial">
        <div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
            {{> "navigation"}}
        </div>
    </div>

    <header class="main-header post-head" style="background-image: url({{feature_image}})">

    </header>

    <main class="content" role="main">
        <article class="{{post_class}}">


            <div class="demo-container mdl-grid">
              <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
              <div class="post-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
                    
                <div class="about_quote mdl-cell mdl-cell--12-col">
                    <div class="about_quote-body mdl-cell mdl-cell--12-col">
                        As the geometer, who endeavours<br>
                        To square the circle, and discovers not,<br>
                        By taking thought, the principle he wants,<br><br>

                        Even such was I at that [beatific] apparition;<br>
                        I wished to see how the image to the circle<br>
                        Conformed itself, and how it there finds place.<br><br>

                        <span class="about_quote-author">Canto XXXIII, Paradiso, Dante Aligheri</span>
                    </div>

                </div>

                <div class="about_content-container mdl-cell--12-col">   
                    {{content}}

                    <div class="about_content-resource-grid mdl-grid">
                        <h4 class="mdl-cell mdl-cell--12-col">Books</h4>
                        <div class="book-resource-img mdl-cell mdl-cell--6-col">
                            <img src= "../content/images/theme/pdl.jpg">
                        </div>
                        <div class="book-resource-img mdl-cell mdl-cell--6-col">
                            <img src= "../content/images/theme/micro.jpg">
                        </div>
                    </div>

                    <div class="about_content-resource-grid mdl-grid">
                        <h4 class="mdl-cell mdl-cell--12-col">Music</h4>
                        <div class="mdl-cell mdl-cell--12-col">
                            <iframe width="560" height="400" src="//www.youtube.com/embed/ZoMxDvkPZr8" frameborder="0" allowfullscreen></iframe>
                            <iframe width="560" height="400" src="//www.youtube.com/embed/CdKgVr53b9s" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="about_content-resource-grid mdl-grid">
                        <h4 class="mdl-cell mdl-cell--12-col">Art</h4>
                        <div class="art-resource-img mdl-cell mdl-cell--6-col">
                            <a target="_blank" href="http://rebel8.com/blogs/giant"><img src= "../content/images/theme/giant.jpg">
                        </div>
                        <div class="art-resource-img mdl-cell mdl-cell--6-col">
                            <a target="_blank" href="https://en.wikipedia.org/wiki/Paul_Laffoley"><img src= "../content/images/theme/laffoley.jpg"></a>
                        </div>
                    </div>


                    <p>This blog is hosted on the Ghost.js platform. The theme is custom and for download <a target="_blank" href="https://github.com/jacksonsouza/headless">here</a>.</p>
                </div>

                <footer class="post-footer">
                </footer>
              </div>
            </div>
        </article>
    </main>
</div>
{{/post}}
