{{!< default}}

<div class="tag_partial">
    <main class="mdl-layout__content">

        <div class="navigation_partial">
            <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
                    mdl-layout--overlay-drawer-button">
                {{> "navigation"}}
            </div>
        </div>

        <div class="page-content">
        
            <div class="splash_partial">
                {{> "splash"}}
            </div>

            <h1 class="page-title">{{tag.name}} Posts</h1>
        
            <div class="post-loop_partial">
                {{> "loop"}}
            </div>
        </div>
    </main>
</div>
