/* Global Styles */
@font-face {
  font-family: old-english;
  src: url("../fonts/old-english.ttf"); }
.navigation_partial .mdl-layout__drawer {
  background-color: #27ae60;
  position: fixed; }
.navigation_partial .mdl-navigation {
  background-color: white; }
.navigation_partial .fancy-header {
  border: 5px solid black;
  height: 75px;
  width: auto;
  margin: 20px;
  background-color: white; }
  .navigation_partial .fancy-header a {
    text-decoration: none; }
    .navigation_partial .fancy-header a img {
      height: auto;
      width: auto;
      max-height: 50px; }
    .navigation_partial .fancy-header a .header-text {
      display: inline-block;
      position: relative;
      top: 3px; }

.splash-absent {
  margin: 0 0 0 240px; }

.splash_partial .fancy-header {
  border: 5px solid black;
  height: 200px;
  width: 40%;
  margin: 100px auto 200px auto;
  background-image: url("../../../content/images/theme/wallpaper.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  font-size: 100px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: black; }

.post-loop_partial article {
  margin: 100px auto 100px auto; }
  .post-loop_partial article .mdl-card__title {
    height: 200px;
    background: url("../../../content/images/theme/welcome_card.jpg"); }
    .post-loop_partial article .mdl-card__title .mdl-card__title-text a {
      color: white;
      text-decoration: none; }

/* Desktop Styles */
/* Tablet Styles */
@media only screen and (max-width: 850px) {
  .splash-absent {
    margin: 0; } }
/* Mobile Styles */
