{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}



<main class="mdl-layout__content">
    <div class="page-content">

        <div class="navigation_partial">
            {{> "navigation"}}
        </div>

    
        <div class="post-loop_partial">
            {{> "loop"}}
        </div>
    </div>
</main>

