
header{
	background-color: #689F38;

	img {
		height: auto; 
	    width: auto; 
	    max-height: 50px;
	}

	.header-text{
		display: inline-block;
		position: relative;
		top:3px;
	}
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	.header-title-content {
		font-size: 85%;

		img {
			display: none;
		}
	}

 
/* Mobile Styles */
 
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
 
/* Tablet Styles */
 
}