<section class="pagination {{#if next}}has-next{{/if}} {{#if prev}}has-prev{{/if}} clearfix">
  {{#if next}}
    <a class="next" href="{{page_url next}}">Older</a>
  {{/if}}
  {{#if prev}}
    <a class="previous" href="{{page_url prev}}">Newer</a>
  {{/if}}
</section>
