/* Global Styles */
.bg-overlay {
	width: 100%;
	height: 100%;
	z-index: -999;
	background-color: #27ae60;
}

.post-content {
	padding:75px 75px 30px 75px;

	.post-title {
		padding-bottom: 50px;
	}

}

.about_page {

	.post-content{
		margin-top: 75px!important;
	}

	.book-resource-img img {
		width:auto;
		max-height: 300px;
	}

	.art-resource-img img {
		width:auto;
		max-height: 300px;
	}

	.buffer {
		padding-top: 100px;
	}

	.about_quote {
		width: 100%; 

		font-size: 14px;
		font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
		font-style: italic;
		font-weight: 100;

		.about_quote-body {
			text-align:center;
			margin: 0px auto 0 auto;
		}
	}
}

.portfolio_page {

	.material-icons {
		position: fixed;
		padding-top: 10px;
	}

	.navigation_partial{
		margin-top: -100px;
	}

	.post-head {
		position: fixed;
	}

	.content {
	    margin-top: 100px!important;
	    padding-top: 100px;
	}

	.head-card {
		margin-top: 100px!important;
		min-height: 100px;

	}

	.card-row {
		width: 100%;
		margin-right: 100px;
		margin-left: 13px;

		.port-item {
			display: inline-block;
			margin: 0 auto 0 auto;
		}
	}

	.mdl-card {
		width: 80%;
		margin: 0 auto 75px auto;
		background-color:rgba(255,255,255,0);

		.small-title {
			height: 200px!important;
			background-color:rgba(0,0,0,0.5);

			.mdl-card__title-text {
				color: white;
				font-size: 50px;
				margin: 0 auto 30px auto;
				font-weight: bold;
				border: 5px solid white;
				padding: 10px;
			}
		}

		.mdl-card__title {
			height: 600px;
			background-size: cover!important;
		}

		.mdl-card__supporting-text {
			background-color:rgb(255,255,255);
			width: 100%;
		}
	}
}

.navigation_partial {
	display: none;

	.mdl-layout__drawer {
		position: fixed;
		border:none;
		box-shadow:none;
	}

	.mdl-navigation {
		background-color: white;
   		box-shadow: inset 0 7px 4px -6px rgba(0, 0, 0, 0.4), inset 0 -7px 4px -6px rgba(0, 0, 0, 0.4);

	    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;

	    .mdl-navigation__link {
	    	font-size: 14px;
	    }
	}

	.fancy-header {
		border: 5px solid black;
		height: 75px;
		width: auto;
		margin: 20px;
		background-color: white;

		a {
			text-decoration: none;
   			margin: 2px 0 0 0;

			img {
				height: auto; 
			    width: auto; 
			    max-height: 50px;
			}

			.header-text{
				display: inline-block;
				position: relative;
				top:10px;

				font-weight: bold;
				font-size: 40px;
				color: black;

			}
		}
	}
}

.splash-absent {
	margin: 0 0 0 240px;

	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.splash_partial {

	.fancy-header {
		border: 10px solid black;
		height: 200px;
		width: 40%;
		margin: 100px auto 200px auto;

		.bg-overlay {
			background-color: rgb(255,255,255);

			text-align: center;
			vertical-align: middle;
			line-height: 200px;   

			font-size: 12.5vw;
			font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
			color: black;
			font-weight: bold;
		}
	}
}

.post-loop_partial {

	article {
		margin: 100px auto 100px auto;
		font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;

		.mdl-card__title {
			height: 200px;
			background-size: cover!important;
			background-color:#27ae60;

			.mdl-card__title-text {
				width:100%;
				a {
					color: white;
					text-decoration: none;
				}
			}

			.mdl-card__title-time {
				font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
				color: white;
				margin-left: 30px;
				line-height: 35px;
				padding: 0 10px;
				background-color:rgba(0,0,0,0.5)
			}
		}
	}
}


/* Desktop Styles */
@media only screen and (min-width : 850px)  {

	.about_quote { 
		padding-bottom:100px;
	}

}


/* Tablet Styles */
@media only screen and (max-width : 850px)  {
	.navigation_partial {
		display: initial;
	}

	.portfolio_page {
		.card-row {
			width: 100%;
			margin: 0;

			.port-item {
				width: 100%;
				display: inline-block;
				margin: 0 auto 0 auto;
			}
		}
	}

	.splash-absent {
		margin: 0;

		-webkit-transition: all 0.5s ease;
    	-moz-transition: all 0.5s ease;
    	-o-transition: all 0.5s ease;
    	transition: all 0.5s ease;
	}

	.about_quote { 
		padding-bottom: 30px;
	}


}
 
/* Mobile Styles */
@media only screen and (max-width : 320px)  {

 
}
